.about__title {
  font-size: 40px;
  line-height: 48px;
  color: #476bf0;
  text-align: center;
}

.about_photo{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  
}

.about__section-title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.about__text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}